*~
*.elc
.lsp-session-v1
.org-id-locations
eln-cache/
network-security.data
org-roam.db
racket-mode/
snippets/
bookmarks
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
places
projectile-bookmarks.eld
projectile.cache
session*
.cask
tramp
nov-places
transient/
elpy/
org-clock-save.el
forge-database.sqlite
.cache/
straight

custom.el
secrets.el
