*~
.cache/
.lsp-session-v1
.org-id-locations
auto-save-list/
bookmarks
eln-cache/
eshell/history
eshell/lastdir
forge-database.sqlite
mastodon.plstore
multisession/
network-security.data
nov-places
org-clock-save.el
org-roam.db
persist/
projects
recentf
snippets/
straight
tramp
transient/
tree-sitter/
url

custom.el
secrets.el
